* {
    display:flex;
    flex-direction: column;
    background-color:teal;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color:inherit;
    background-color: inherit;
}

a:hover {
    transform: scale(1.5);
    border: 2px solid blue;
    color: blue;
}


h1 {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

h2 {
    display: block;
    background-color: inherit;
    font-size: 18px;
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    background-color: inherit;
    font-weight: bold;
}

.divider {
    border-top: 1px solid gray;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}
li {
    display: block;
    background-color: white;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
}

.pic {
    width: 350px;
    align-self: center;
    background-color: inherit;
}

.me {
    width: 250px;
    margin-top: 25px;
    margin-bottom: 25px;
    align-self: center;
}

.holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
}

.about {
    max-width:  300px;
    align-self: center;
    margin-bottom: 50px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btt {
    background-color: inherit;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
    order: 1;
}
strong,
.email,
.phone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

strong {
    padding-left: 10px;
}

.element {
    background-color: inherit;
}

p {
    background-color: inherit;
}

.email {
    margin-bottom: 50px;
}
.bottom-nav {
    display: none;
}

.js {
    height: 300px;
    width: 300px;
    align-self: center;
    background-color: inherit;
}

@media screen and (min-width: 768px) {
    .pic {
        width: 300px;
    }
    p {
        max-width: 300px;
        align-self: center;
    }
    #portfolio, 
    #skills {
        display: block;
        margin: 35px 500px;
    }
    .main-nav {
        display: flex;
        flex-direction: row;
        background-color: inherit;
        justify-content: center;
    }
    li {
        background-color: inherit;
    }
    a {
        background-color: inherit;
    }
    .flex {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
    }
    .about {
        text-align: left;
        max-width: 400px;
    }
    .btt {
        display: none;
    }
    .bottom-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 16px;
        padding: 10px 10px;
    }
    .talk {
        max-width: 450px;
    }
    .student {
        margin-top: 39px;
    }
    .me {
        padding: 10px 10px;
    }
}

@media screen and (min-width: 1024px) {
    #portfolio,
    #skills {
        display: block;
        margin: 35px 500px;
    }
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    * {
        margin-left: 8px;
        margin-right: 8px;
    }
    .holder {
        max-width: 1200px;
        align-self: center;
    }
    .flex {
        justify-content: space-between;
        align-items:flex-start;
    }
    .me {
        width: 450px;
    }
    .about {
        margin-bottom: 210px;
    }
}