body {
    display:flex;
    flex-direction: column;
    background-color:whitesmoke;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
}
li {
    display: block;
    background-color: white;
    margin: .5em;
    padding: .5em;
    font-weight: bold;
    text-align: center;
}
